[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "config/opencode"]
	path = config/opencode
	url = https://github.com/waldoibarra/my-opencode-global-config
