[submodule "dotbot"]
	path = dotbot
	url = git@github.com:anishathalye/dotbot.git
	ignore = dirty
[submodule "config/opencode"]
	path = config/opencode
	url = git@github.com:waldoibarra/my-opencode-global-config.git
	branch = main
